<header class="masthead back" >
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class=" col-md-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h3 class=" site-heading my-4 mt-3 text-white" style="text-align: center !important;font-family: 'Bowlby One SC', sans-serif !important;"> Algorithm or Data structure? </h3>
					<p class="text-light" style="text-align: center !important;font-family: 'Bowlby One SC', sans-serif !important;">You are at the right place!</p>
				</div>
			</div>
		</div>
	</div>
</header>
