<%- include('partials/index') %>
<%- include('partials/header') %>

<div class = "container form_box">
    <br>
    <center><h2 class="form_title">Add article!!</h2></center>
    <form action = "/blog/create_blog/" method = "POST" style="align-self: center" id = "BlogForm">
        <div class="title">
            <label>Title</label>
                <input type="text" name="title" class="space" placeholder="Blog Name">
            <label>Author</label>
                <input type="text" name="author" placeholder="Blog Author">
        </div>
        <div class="slug">
            <label>Slug</label>
                <input type="text" name="slug" class="space" placeholder="Blog Slug">
            <label style="margin-right:25px;">Tags</label>
                <input type="text" name="tags" placeholder="Enter Blog tags">
        </div>
        <label class="content">Content</label>
          <!-- <input size="100" style="font-size:20px;padding:20px" type="text" name="body" placeholder="Enter Blog Data"> -->
            <textarea rows="7" cols="70" name="body" id= "textbox" placeholder="Enter Blog Content"></textarea>
        <center><input type = "submit" value="Create!!"></center>
        </form>
</div>
<%- include('partials/footer') %>;