<%- include('partials/index') %>
<%- include('partials/header') %>

<div class = "container">
    <br>
    <center><h2>Add article!!</h2></center>
    <form action = "/blog/create_blog/" method = "POST" style="align-self: center" id = "BlogForm">
        <label>Title</label>
            <br>
            <input type="text" name="title" placeholder="Blog Name">
            <br>
            <br>
        <label>Author</label>
            <br>
            <input type="text" name="author" placeholder="Blog Author">
            <br>
            <br>
        <label>Slug</label>
            <br>
            <input type="text" name="slug" placeholder="Blog Slug">
            <br>
            <br>
        <label>Tags</label>
            <br>
            <input type="text" name="tags" placeholder="Enter Blog tags">
            <br>
            <br>
        <label>Content</label>
          <br>
          <input size="100" type="text" name="body" placeholder="Enter Blog Data">
          <br>
          <br>
        <input type = "submit" value="Create!!">
    </form>
</div>
