<%- include('partials/index') %>
<%- include('partials/header') %>

<div class = "container form_box">
    <br>
    <center><h2 class="form_title">Please Login to Add an Article</h2></center>
</div>
<%- include('partials/footer') %>;